*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainBody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 137, 255),rgb(240, 233, 240));
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameBox{
    width: 40%;
    /*border: 3px solid rgb(255, 255, 255);*/
}
.nameBox>h1{
    color: white;
    font-size: 110px;
}
.nameBox>p{
    color: white;
    font-size: 40px;
}
nav{
    width: 6vw;
    height: 60vh;
    /*background: rgb(99, 87, 87);*/
    /*border: 2px solid;*/
    position: fixed;
    left: 20px;
    z-index:100;
}
nav>div{
    /*border: 1px solid snow;*/
    width: 4vw;
    height: 4vw;
    background: rgb(58, 52, 52);
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;

}
nav>div>a{
    color: rgb(253, 253, 253);
    font-size: 20px;
    z-index:100;
}
.aboutSection{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(240, 233, 240),rgb(253, 159, 253));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}
.aboutSection>main{
    width: 80%;
    height: 80%;
    /*border: 2px solid*/;
    display: flex;
}
.aboutSection>main>article{
    width: 50%;
    height: 100%;
    /*border: 3px solid black*/;
    background-color: rgba(135, 132, 132, 0.258);
    border-radius: 30px;
    margin: 10px;
}
.about{
    width: 80%;
    height: 60%;
    /*background: rgb(174, 174, 174);*/
    display: flex;
    /* padding-top: 5px; */
}
.aboutArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap:30px;
    color: rgb(0, 0, 0);
}
.about>div{
    width: 70%;
    height: 70%;
    /*border: 3px solid;*/
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 11px;
    font-size: 12px;
}
.about li{
    padding: 10px;
    font-size: 14px;
}
.about ul{
    padding-top: 2px;
}
.aboutSection h1{
    font-size: 20px;
}
.aboutArticle>p{
    font-size: 14px;
}
.projects{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(240, 233, 240),rgb(253, 159, 253));
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects>main{
    width: 80%;
    height: 80%;
    /* border: 3px solid; */
}
.projects>main>h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.projects>main>article{
    width: 100%;
    height: 80%;
    background-color: rgb(158, 97, 149);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}
.projects>main>article>div{
    width: 45%;
    height: 45%;
    border: 3px solid;background: #00000020;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    color: rgb(0, 0, 0);
}
/* .experience > main,
.achievements > main,
.contact > main {
  width: 100%;
  height: 100%;

} */
.experience{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(240, 233, 240),rgb(253, 159, 253));
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience>main{
    width: 80%;
    height: 80%;
    /* border: 3px solid; */
}
.experience > main > h1 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  padding: 30px;
}
.experience > main > article {
  width: 100%;
  height: 80%;
  background-color: #0000005c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.experience > main > article > h3 {
  font-size: 30px;
}
.experience > main > article > p {
  font-size: 20px;
}

.achievements {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(240, 233, 240),rgb(253, 159, 253));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .achievements > main {
    width: 80%;
    height: 80%;
    /* border: 3px solid; */
  }
  .achievements > main > h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    padding: 30px;
  }
  .achievements > main > article {
    width: 100%;
    height: 80%;
    background-color: #0000005c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .achievements > main > article > div {
    width: 45%;
    height: 45%;
    /* border: 3px solid; */
    background: #00000020;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: rgb(0, 0, 0);
  }
  
  .achievements > main > article > div > h1 {
    font-size: 20px;
  }
  .achievements > main > article > div > p {
    font-size: 15px;
  }

  .contact {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(240, 233, 240),rgb(253, 159, 253));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact > main {
    width: 80%;
    height: 80%;
    /* border: 3px solid; */
  }
  .contact > main > h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  .contact > main > article {
    width: 100%;
    height: 100%;
    background-color: #0000005c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .info,
  .contactForm {
    width: 45%;
    height: 85%;
    background: #00000020;
    padding: 20px;
  }
  .contact > main {
    padding-bottom: 5%;
    width: 80%;
    height: 80%;
    border: 3px solid;
  }
  .info p {
    font-size: 20px;
    color: rgb(196, 196, 196);
    padding: 10px;
  }
  .info a {
    color: rgb(196, 196, 196);
  }
  .allLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
  }
  .allLinks a {
    color: rgb(196, 196, 196);
    padding-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  input,
  textarea {
    color: rgb(196, 196, 196);
    height: 50px;
    background: #0000004e;
    outline: none;
    border: none;
    padding: 20px;
  }
  textarea {
    height: 200px;
  }
  form > a {
    display: inline-block;
    color: rgb(196, 196, 196);
    padding: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: rgb(49, 49, 49);
  }
  